---
---
@charset "utf-8";

// ---- typography ----

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

$base-font-family: 'Roboto', sans-serif;
$base-font-size:   15px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

// ---- colors ----

$red: #c42628;
$black: black;
$white: white;
$grey: #e9e5dc;


$text-color: $black;
$light-text-color: $white;
$background-color: $red;
$google-maps-background-color: $grey;


// --- dimensions ----

$main-width: 1000px;

$sidebar-width: 256px;
$gutter: 9px;

// breakpoints
$medium: 600px;
$desktop: $main-width + $sidebar-width + $gutter;

@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}




// global defaults

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  margin: 0;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

body {
  position: relative;
  @include media-query($desktop) {
    background-image: url(/images/background_spirale.png);
    background-repeat: no-repeat;
    background-position: right top;
  }
}

// utils

.for-screenreader {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}


// header

header {
  position: relative;
  width: 100%;
  @include media-query($desktop) {
    width: 787px;
    height: 277px;
  }
}

.header__logo {
  display: block;
  width: 100%;
  @include media-query($desktop) {
    width: 787px;
    height: 277px;
  }
}
.header__phone-number {
  $phone-number-width: 153px;
  position: absolute;
  right: 1rem;
  bottom: .5rem;
  border-top: 1px solid $red;
  color: $red;
  line-height: 2;
  width: 140px;
  white-space: nowrap;
  overflow: hidden;
  font-size: .8rem;
  @include media-query($medium) {
    font-size: 1rem;
    width: 173px;
    bottom: .75rem;
  }
  @include media-query($desktop) {
    left: $desktop - 173px;
  }
}

.nav {
  background-color: $background-color;
  padding: 1rem;

  > a {
    color: $light-text-color;
    display: inline-block;
    margin-right: .5rem;

    &.is-active {
      font-weight: bold;
    }
  }

  @include media-query($medium) {
    padding: 2rem;
  }

  @include media-query($desktop) {
    width: $sidebar-width;
    position: absolute;
    padding-left: 80px;
    margin-right: $gutter;
    height: 100%;

    > a {
      display: block;
      line-height: 3;

      &.is-active {
        &:before {
          content: ": : "
        } 
      }
    }
  }
}

.main-image, .page-content {
  @include media-query($desktop) {
    margin-left: $sidebar-width + $gutter;
  }
}

.main-image {
  width: 100%;
  display: block;

  @include media-query($desktop) {
    width: $main-width;
    height: 380px;
  }
}

.page-content {
  padding: 1.5rem;
  padding-top: 0;

  @include media-query($desktop) {
    padding: 2rem;
    width: $main-width;
    padding-right: 0px;
  }
}

.page-content {
  p, ul {
    max-width: 600px;
    margin-top: 0px;
  }

  p {
    &.without-bottom-margin {
      margin-bottom: 0px;
    }
    &.as-full-width {
      max-width: 100%;
    }
  }

  h1 {
    color: $red;
    font-weight: 300;
  }
  h2 {
    font-size: $base-font-size;
    color: $red;
    font-weight: bold;
    small {
      font-weight: normal;
      font-size: 80%;
    }
  }
  h3 {
    font-size: $base-font-size;
    font-weight: bold;
    margin-bottom: .2rem;
  }

  hr {
    border: 0px solid $background-color;
    border-top-width: 1px;
    margin-bottom: 1.5rem;
  }

  img {
    display: block;
    width: 100%;
  }

  a {
    color: $red;

    &:hover {
      font-weight: bold;
    }

    &.with-dots {
      &:before {
        content: ": : "
      }
    }

    &.as-inline {
      text-transform: initial;
    }
  }

  ul {
    padding-left: 18px;
    li {
      list-style: none;
      position: relative;
      &:before {
        /* For a round bullet */
        content: '\2022';
        color: $red;
        font-weight: bold;
        position: absolute;
        left: -14px;
      }
    }
  }
}

.google-map {
  width: 100%;
  height: 450px;
  background-color: $google-maps-background-color;
  margin-bottom: 1rem;

  @include media-query(660px) {
    width: 600px;
  }

  @include media-query($desktop) {
    width: 412px;
    height: 380px;
    position: absolute;
    top: 277px;
    left: 853px;
  }
}