<!DOCTYPE html>
<html lang='de'>
<head>
  <meta charset='utf-8'>
  <title>{{ page.title }}</title>

  <meta name="robots" content="all" />
  <meta name="author" content="Dr. med. Monika Burger, Münster" />
  <meta name="keywords" content="gynäkologie, psychotherapie, frauenärztin, münster, handorf" />
  <meta name="description" content="Praxis für Gynäkologie &amp; Psychotherapie von Frauenärztin Dr. med. Monika Burger in Münster-Handorf" />

  <link rel="stylesheet" type="text/css" href="styles.css" media="screen,projection" />

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-17755956-1']);
    _gaq.push(['_setDomainName', 'dr-monika-burger.de']);
    _gaq.push (['_gat._anonymizeIp']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>