<ul id="menu">
  <li class="{% if page.id == 'philosophie' %}current{% endif %}"><a href="philosophie.html" title="Philosophie und Beschreibung der Praxis">PHILOSOPHIE</a>&nbsp; &nbsp; :&nbsp;: &nbsp; &nbsp;</li>
  <li class="{% if page.id == 'leistungen' %}current{% endif %}"><a href="leistungen.html" title="Leistungen - Das bietet unsere Praxis">LEISTUNGEN</a>&nbsp; &nbsp; :&nbsp;: &nbsp; &nbsp;</li>
  <li class="{% if page.id == 'vita' %}current{% endif %}"><a href="vita.html" title="zur Ausbildung und Person von Monika Burger">VITA</a>&nbsp; &nbsp; :&nbsp;: &nbsp; &nbsp;</li>
  <li class="{% if page.id == 'sprechzeiten' %}current{% endif %}"><a href="sprechzeiten.html" title="Sprechzeiten und Termine - Wann können Sie uns erreichen">SPRECHZEITEN</a>&nbsp; &nbsp; :&nbsp;: &nbsp; &nbsp;</li>
  <li class="{% if page.id == 'standort' %}current{% endif %}"><a href="standort.html" title="Anfahrtsbeschreibung zu unserem Standort">STANDORT</a>&nbsp; &nbsp; :&nbsp;: &nbsp; &nbsp;</li>
  <li class="{% if page.id == 'kontakt' or page.id == 'impressum' %}current{% endif %}"><a href="kontakt.html" title="Wie sie uns kontaktieren können">KONTAKT</a></li>
</ul>