  <nav class="nav">
    <a class="{% if page.key == 'praxis' %}is-active{% endif %}" href="praxis.html">Praxis</a>
    <a class="{% if page.key == 'leistungen' %}is-active{% endif %}" href="leistungen.html">Leistungen</a>
    <a class="{% if page.key == 'team' %}is-active{% endif %}" href="team.html">Team</a>
    <a class="{% if page.key == 'sprechzeiten' %}is-active{% endif %}" href="sprechzeiten.html">Sprechzeiten</a>
    <a class="{% if page.key == 'kontakt' %}is-active{% endif %}" href="kontakt.html">Kontakt</a>
    <a class="{% if page.key == 'anfahrt' %}is-active{% endif %}" href="anfahrt.html">Anfahrt</a>
  </nav>