{% include head.html %}
<div class="wrap" id="{{ page.id }}">
	<img id="seitenbild" alt="" src="img/seitenbild_{{ page.id }}.jpg" />

	<a id="header" href="index.html" title="zur Startseite">
		<h1>Dr. med. Monika Burger</h1>
		<h2>Ärztin für Gynäkologie &amp; Psychotherapie</h2>
		<img alt="Dr. med. Monika Burger Ärztin für Gynäkologie &amp; Psychotherapie" src="img/backg_header.png" />
	</a>

	{% include menu.html %}

  {% if page.h1 %}
	  <h1 id="title">{{ page.h1 }}</h1>
	{% endif %}

	<div id="content">
		{{ content }}
	</div>

  {% if page.bild1 %}
    <img src="img/{{ page.bild1 }}" alt="" id="bild1" class="bild">
	{% endif %}

  {% if page.bild2 %}
    <img src="img/{{ page.bild2 }}" alt="" id="bild2" class="bild">
	{% endif %}

	<div id="address">
		{% if page.show_address %}
		<a href="kontakt.html" title="zu den restlichen Kontaktdaten">
			Vennemannstraße 5<br />
			48157 Münster<br />
			Telefon 0251-326266
		</a>
		{% elsif page.show_lageplan %}
			<img alt="Lageplan der Praxis Dr. Monika Burger in Münster-Handorf" id="lageplan" src="img/lageplan_dr_monika_burger.png" />
			<a id="lageplan_link" href="lageplan_popup.html" target="_blank" title="Größere Version des Lageplans anzeigen"></a>
		{% endif %}
	</div>
</div>
{% include foot.html %}